build
target
/pkg/
*.log
*.pyc
~*
.idea/
src/sysboostd/Cargo.lock
*.rto

# readelf/objdump
*.asm
*.elf
*.w
*.wi
*.s
*.x

# vscode
.vscode/*
!.vscode/settings.json
!.vscode/c_cpp_properties.json

do.py
push.py
