[Unit]
Description=Run sysboost for Kunpeng CPU
Requires=sysboost.service
After=sysboost.service

[Service]
Type=forking
ExecStart=/usr/bin/sysboostd --daemon
Restart=always
ExecStart=sh  /etc/systemd/system/sysboostd_exec_stop.sh

[Install]
WantedBy=multi-user.target
